a {
color: #000;
text-decoration: none;
}
a:hover,
a:focus {
color: #000;
text-decoration: underline;
}
.dropdown-menu {
font-size: 16px;
}
.breadcrumb > li + li::before {
padding: 0 5px;
color: #777;
content: ">> ";
}
.breadcrumb > .active {
color: #BFC5E7;
}
.header_style{
border-top-left-radius:4px;
font-weight: bold;
font-size:17px;
background-color:#BFC5E7;
padding: 8px 8px 6px 10px;
color:#000000;
text-decoration: none;
}
@media (max-width: 767px) {
  .header_style{
  border-top-left-radius:0px;
  }
}
#enter_button{
margin-top:3px;
background-color: #BFC5E7;
font-weight:bold;
border: 0   
}
#_exit_button{
margin-top:3px;
font-weight:bold;
border: 0   
}
#forgotn_button{
background-color:#ffffff;
color:#551A8B;
padding-left:0px;
margin-top:6px;
border-width: 0px;    
}
.pagination > .active > span,
.pagination > .active > span:hover {
background-color:#BFC5E7;
border-color:#BFC5E7;
font-weight:bold;   
}
.pagination > li > a,
.pagination > .disabled,
.pagination > .disabled > a,
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus {
color:#BFC5E7;
font-weight:bold;
border-color:silver;
}
.label_style{
color:#551A8B;
}
.link_button_clear{
background-color:#ffffff;
font-weight:bold;
color:#551A8B;
padding:0px;
margin-bottom:4px;
border-width:0px;   
}
.arch_link{
color:#551A8B;
font-weight:bold;
}
.normal{
font-weight: normal;
}
.breadcr_href{
color:#551A8B;    
}
.titl_auth {
color:#551A8B;
padding-top: 64px;
font-weight:bold;
}
.footer{
background-color: #000;
color: #C9C9C9; 
margin-left:-15px; 
margin-right:-15px; 
margin-top:10px    
}
.footer a,
.footer a:visited,
.footer a:hover,
.footer a:active{
color: #C9C9C9;
text-decoration: none;
}
.footer-copyright{
background-color: #91A3C9;
color: #333;
padding: 6px;
margin-bottom: -4px;
}
/*------------------------------------------*/
.navbar-default .navbar-nav > li > a.icon{
display: block;
}
/*===========================================================================*/
.containr {
background-color: #BFC5E7;
}
.nav_horbar {
background-color: #BFC5E7;
}
.nav_horbar a.icon:hover {
background-color: #91A3C9;
}
.item-left {
background-color: #BFC5E7;
}
.menu {
background-color: #BFC5E7;
}
@media (max-width: 768px) {
  .menu a:first-child{
  border-top: 1px solid #91A3C9;
}
}
.activ{
background-color: #91A3C9;
}
.dropbtn:not(:hover){
background-color: #BFC5E7;
}
.nav_horbar a:hover, .drop_down:hover {
background-color: #91A3C9;
}
.hoverbg{
background-color: #91A3C9 !important;
}
.nav_horbar .icon {
background-color: #BFC5E7;
}
#alternav{
background-color: #551A8B;
}
/*===========================================================================*/
.more_button{
background-color: #BFC5E7; 
width:100%;
padding: 6px;
border-radius: 4px;
fint-weight: bold;
border:0px;
color: #551A8B; 
}
.to-top{
cursor: pointer; 
text-align: center; 
position: fixed; 
right: 40px; 
background-color: #BFC5E7; 
opacity: 0.8; 
padding: 10px; width: 50px; 
height:50px; 
font-size: 24px; 
border-radius: 5px; 
color: #fff; 
display: none; 
z-index: 10
}
.to-top:hover{
background-color: #91A3C9;
}
.rectngl{
display: inline-block; 
position: relative; 
border: 1px solid #91A3C9; 
width: 54px; 
height: 10px; 
margin-left: 16px; 
margin-bottom: -4px;  
}